<h2 class="animal-title">Welcome!</h2>
<br>
<p class="animal_info">This is the Marigold Vet Management App. <br>You Are able to view the index page for Animals, Owners and Vets, and are able to perform all other CRUD functions. <br>Try it out!</p>
