<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Marigold Vet Clinic</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <h1 class="logo">Marigold Vet Clinic</h1>
    <nav>
      <li><a class="nav-links" href='/animals'>Animals</a></li>
      <li><a class="nav-links" href='/animals/new'>Register Animal</a></li>
      <li><a class="vet-link" href='/vets'>Veterinarians</a></li>
      <li><a class="vet-link" href='/vets/new'>Register Veterinarian</a></li>
    </nav>
    <hr>
    <%= yield %>

  </body>
</html>
