<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <title>Marigold Vet Clinic</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <h1 class="logo">Marigold Vet Clinic</h1>
    <nav>
      <li><a class="nav-links" href='/owners'>Owners</a></li>
      <li><a class="nav-links" href='/animals'>Animals</a></li>
      <li><a class="nav-links" href='/vets'>Veterinarians</a></li>
    </nav>
    <hr>
    <%= yield %>

  </body>
</html>
