
#menu {
  width: 220px;
  display: flex;
  margin: 0 auto;
}

.menu-item {
  display: inline-block;
  flex-grow: 1;
}




.animal {
  border: 5px double;
  margin: 0 35px 30px 0;
  width: 200px;
  padding: 25px;
  display: inline-block;
}


.animal_form {
  margin-left: 180px;
  text-align: left;
  display: inline-block;
  width: 160px;
}
