

body {
  background-color: #5384a3;
}

nav {
  display: flex;
  padding: 0px;
  margin-left: 160px;
  margin-right: 160px;
  padding-right: 25px;
  justify-content: space-between;
}

nav li {
  font-size: 20px;
  font-family: Futura, sans-serif;
  margin-bottom: 15px;
  text-transform: uppercase;
  display: inline-block;
}

nav li a {
  color: #d6aa71;
}

a, a:link, a:visited {
  color: #e0daaa;
  text-decoration: none;
}

a:hover {
  color: #edbb47;
}

hr {
  margin-left: 120px;
  margin-right: 120px;
  border: 3px solid;
  border-color: #edbb47;

}

.logo {
  color: #edbb47;
  font-family: Futura, sans-serif;
  margin-left: 120px;
  margin-top: 40px;
  margin-bottom: 25px;
}


.index-vet {
  font-size: 15px;
  border: 5px solid;
  border-color: #B2BD7E;
  margin: 0 30px 30px 0;
  background-color: #B2BD7E;
  color: white;
  width: 240px;
  height: 230px;
  padding: 10px 20px 20px 20px;
  font-family: Futura, sans-serif;
  overflow: auto;
}


.index-vet a {
  margin: 40px 0px 0px 0px;
  padding: 5px 10px;
  background-color: white;
  color: #5384a3;
  font-size: 20px;
}

.index-vet a:hover {
  color: white;
  background-color: #5384a3;
}

.index-vet ul li {
  padding: 3px;
}

.index-animal {
  border: 5px solid;
  border-color: #d6aa71;
  margin: 0 30px 30px 0;
  background-color: #d6aa71;
  color: white;
  width: 200px;
  padding: 10px 20px 20px 30px;
  display: inline-block;
  font-family: Futura, sans-serif;
}

.index-animal a {
  margin: 40px 0px 0px 0px;
  padding: 5px 10px;
  background-color: white;
  color: #5384a3;
  font-size: 20px;
}

.index-animal a:hover {
  color: white;
  background-color: #5384a3;
}


.title {
  color: #e0daaa;
  margin-top: 50px;
  margin-left: 180px;
  font-family: Futura, sans-serif;
}

.animal-title {
  color: white;
  margin-top: 40px;
  margin-left: 180px;
  font-family: Futura, sans-serif;
  background-color: #d6aa71;
  padding: 5px 20px;
}

.vet-title {
  color: white;
  margin-top: 40px;
  margin-left: 180px;
  font-family: Futura, sans-serif;
  background-color: #B2BD7E;
  padding: 5px 20px;
}


.vet_form {
  color: #edbb47;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 180px;
  text-align: left;
  width: 250px;
  display: block;
  font-family: Futura, sans-serif;
}

.animal_form {
  color: #edbb47;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 180px;
  text-align: left;
  width: 170px;
  display: block;
  font-family: Futura, sans-serif;
}


.index_animal_info {
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 180px;
  text-align: left;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  font-family: Futura, sans-serif;
  color: #edbb47;
}

.index_vet_info {
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 180px;
  text-align: left;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  font-family: Futura, sans-serif;
  color: #edbb47;
}

.animal_info {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 50px;
  margin-left: 180px;
  text-align: left;
  display: inline-block;
  font-family: Futura, sans-serif;
  color: #edbb47;
}


.animal_form .form_padding {
  margin: 10px 0;
}

#unassigned {
  color: #f27454;
  padding: 3px 10px;
  background-color: white;
}

#animal {
  padding: 2px 6px;
  margin: 10px;
}

#vet-link a:hover {
  color: #f27454;
}

.index-animal .vet-assigned {
  justify-content: center;
}


::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
  background: #7C8953;
}

.animal_info .edit-button {
  margin: 10px;
  padding:5px 15px;
  font-family: Futura, sans-serif;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  background-color: #d6aa71;
}

.animal_info .edit-button:hover {
  color: white;
  background-color: #f27454;
}

input[type=submit] {
    margin: 10px;
    padding:5px 15px;
    font-family: Futura, sans-serif;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    background-color: #d6aa71;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 0px;
    border-radius: 0px;

}

input[type=submit]:hover {
  color: white;
  background-color: #f27454;

}
