<h2 class="vet-title">Register Veterinarian</h2>
<form class="vet_form" action="/vets" method="post">
  <label for="name-field" class="form_padding">Name:</label>
  <input type="text" name="name" required id="name-field"/>
  <% if @unassigned_animals != [] %>
    <label for="assign-animals" class="form_padding">Assign Animals (optional):</label>
    <div class="unassigned_animals">
      <% @unassigned_animals.each do |animal| %>
        <label class="checkbox_container" for=<%= animal.name %>><%= animal.name.capitalize %>
        <input type="checkbox" name="chosen_pets[]" value=<%= animal.id %>>
        <span class="checkmark"></span>
        </label>
      <% end %>
    </div>
  <% end %>
  <input type="submit" value="Register" class="form_padding">
</form>
