<h2 class="title">Register Veterinarian</h2>
<form class="vet_form" action="/vets" method="post">
  <label for="name-field" class="form_padding">Name:</label>
  <input type="text" name="name" required id="name-field"/>
  <br>
  <br>
  <label for="assign-animals" class="form_padding">Assign Animals (optional):</label>
  <% @unassigned_animals.each do |animal| %>
    <label for=<%= animal.name %>><%= animal.name.capitalize %></label>
    <input type="checkbox" name=<%= animal.name %> value=<%= animal.id %>>
  <% end %>
  <br>
  <input type="submit" value="Register" class="form_padding">
</form>
