<h2 class="owner-title"><%= @owner.format_name %> Registered</h2>

<div class="form">
<a id="unassigned" href="/animals/new">Register Animals</a>
<br>
<a class="update" href="/owners">Return to Owners</a>
</div>
