<h2 class="owner-title">Register Owner</h2>
  <form class="form" action="/owners" method="post">
      <label for="first-name-field" class="form_padding">First Name:</label>
      <input type="text" name="first_name" required class="form_padding" id="first-name-field"/>

      <label for="last-name-field" class="form_padding">Last Name:</label>
      <input type="text" name="last_name" class="form_padding" id="last-name-field"/>

      <label for="phone-number-field" class="form_padding">Phone Number:</label>
      <input type="text" name="phone_number" class="form_padding" id="phone-number-field"/>

      <label for="email-address-field" class="form_padding">Email Address:</label>
      <input type="text" name="email_address" class="form_padding" id="email-address-field"/>

      <br>

      <input type="submit" value="Register" class="form_padding">

  </form>
